html, * {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

:root {
  --main: #D8E2DC;
  --secondary: #F8EDEB;
  --offcolor: #FAE1DD;
  --accent: #E8E8E4;
  --text: #000;

}

#navBar {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: var(--main);
}

#navBarCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

#navBarCenter > span > h1 {
  color: var(--text);
}

#navLinks {
  display: flex;
  position: relative;
}

#navLinks > a {
  text-decoration: none;
  color: var(--text);
  padding: 0 1rem;
}

#navLinks > button {
  cursor: pointer;
  padding: .4rem .8rem;
  border-radius: .4rem;
  background-color: var(--offcolor);
  color: var(--text);
  font-weight: 400;
}

.link {
  padding: 0 1rem;
}

#results {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  padding: 2rem;
}

#input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 188, 209);
  padding: 2rem;
}

.openEffect {
  animation: cartOpacityOpen .7s ease-in-out;
  animation-fill-mode: forwards;
}

.closeEffect {
  animation: cartOpacityClose .7s ease-in-out;
  animation-fill-mode: forwards;
}

#openCart {
  display: flex;
  flex-flow: column wrap;
  flex: 1 0 auto;
  gap: 2rem;
  padding: 2rem;
  position: absolute;
  left: -130px;
  top: 60px;
  border-radius: 4rem;
  background-color: var(--offcolor);
  opacity: 0;
  
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item > img {
  flex-basis: 50%;
}

.total {
  display: flex;
  justify-content: space-between;
}

@keyframes cartOpacityOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cartOpacityClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}